body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(center, #e4e1db, #d6d4ce, #d6d3cd, #d6d4ce, #e4e1db);
}

.navbar {
    margin-bottom: 20px;
    transition: background-color 0.3s; /* Smooth transition for background color */
    background: linear-gradient(to bottom,#cfac6a, #ddbf88, #cfb076, #bda16d, #a08553);
}

/* Evil mode styles for body */
body.evil-mode {
    background: linear-gradient(to right, #250b0b, #1b0808, #241313, #4b1919, #1b0000); /* Dark gradient background */
}

/* Evil mode styles for navbar */
.navbar.evil-mode {
    background: linear-gradient(to bottom, #161313, #1a1717, #251f1f, #1a1717, #161313); /* Dark gradient adjusted for container */
}

/* Good mode styles for body, if needed explicitly */
body.good-mode {
    background: linear-gradient(center, #e4e1db, #d6d4ce, #d6d3cd, #d6d4ce, #e4e1db);
}

/* Good mode styles for navbar */
.navbar.good-mode {
    background-color: #dacfbb; /* Lighter navbar background to match the good mode */
}

.clickable {
    cursor: pointer;
    transition: transform 0.2s; /* Adds a slight transformation when clicked */
}

.clickable:active {
    transform: scale(0.98); /* Slightly scale down the logo when it is clicked */
}

#roastDisplay {
    font-family: 'Oswald', sans-serif;
    font-size: 37px; /* Adjusted size, triple the original assuming the original was 16px */
    color: #ffffff; /* Text color */
    padding: 15px; /* Padding around the text */
    text-align: center; /* Alignment of text */
    border: 3px solid #ccc; /* Optional border */
    margin: 0 auto; /* Centering the container */
    width: 80%; /* Control width to not span full page */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    opacity:90%;
}
/* Assuming .container is the parent element of your image */
.container {
    width: 100%; /* This ensures that the container stretches full width */
}

.logo {
    width: 70%; /* Makes the image stretch to cover the full width */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Covers the area without losing aspect ratio */
    margin: 20px;
}

.logo-container {
    width: calc(100% - 40px); /* Adjusts for the margin */
    margin: 0px;
    display: flex; /* This will center your image */
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    background-image: url('./bg_img.png'); /* Set your background image here */
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
}

/* Social media icons */
.social-icon {
    margin-right: 8px;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

p, a {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

/* Evil mode styles for .container */
.container.evil-mode {
    background: linear-gradient(to right, #080808, #251f1f, #1c1919, #1a1717, #080808); /* Dark gradient adjusted for container */
}

/* Update styles for navbar and logo if needed */
.navbar.evil-mode {
    background-color: #a30000; /* Darker navbar background */
}

.logo.evil-mode {
    filter: brightness(0.8); /* Adjust brightness to fit dark theme */
}

/* Evil mode styles for Contact Us section */
#contact.evil-mode, #contact.evil-mode a, #contact.evil-mode p, #contact.evil-mode h1 {
    color: white; /* Set text color to white */
}

/* Evil mode styles for SVG icons */
#contact.evil-mode .social-icon svg {
    fill: white; /* Set SVG icon fill to white */
}

#contact {
    padding: 50px;
    border-radius: 0%;
    min-width:100%;
    opacity:100%;
    background: linear-gradient(to bottom,#cfac6a, #ddbf88, #cfb076, #bda16d, #a08553);
}

#contact.evil-mode{
    background: linear-gradient(to bottom, #080808, #251f1f, #1c1919, #1a1717, #080808); /* Dark gradient adjusted for container */
}