body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to left, #c0b39a,#c0b39a, #c4b18f, #ac9b7b, #c0b39a);
}

.nav-link{
    font-size: x-large;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active {
    opacity:90%;
    color:white;
    font-weight: 700; /* Larger size for active nav link */
}

.navbar {
    transition: background-color 0.3s; /* Smooth transition for background color */
    background: linear-gradient(to bottom, #b3a16b,#c0b39a, #c4b18f, #ac9b7b, #8f784d);
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    text-decoration: none; /* Optional: removes underline on hover */
    transform: scale(1.13) rotate(-1deg); /* Makes the icon slightly larger and rotates it to the right */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity changes */
}


/* Evil mode styles for body */
body.evil-mode {
    background: linear-gradient(to right, #250b0b, #1b0808, #241313, #4b1919, #020000); /* Dark gradient background */
}

/* Evil mode styles for navbar */
.navbar.evil-mode {
    background: linear-gradient(to bottom, #161313, #1a1717, #251f1f, #1a1717, #020000); /* Dark gradient adjusted for container */
}

/* Good mode styles for body, if needed explicitly */
body.good-mode {
    background: linear-gradient(center, #e4e1db, #d6d4ce, #d6d3cd, #d6d4ce, #e4e1db);
}

/* Good mode styles for navbar */
.navbar.good-mode {
    background-color: #dacfbb; /* Lighter navbar background to match the good mode */
}

.clickable {
    cursor: pointer;
    transition: transform 0.2s; /* Adds a slight transformation when clicked */
}

.clickable:active {
    transform: scale(0.98); /* Slightly scale down the logo when it is clicked */
}

#roastDisplay {
    font-family: 'Oswald', sans-serif;
    font-size: xxx-large; /* Adjusted size, triple the original assuming the original was 16px */
    color: #ffffff; /* Text color */
    padding: 15px; /* Padding around the text */
    text-align: center; /* Alignment of text */
    border: 3px solid #ccc; /* Optional border */
    margin: 0 auto; /* Centering the container */
    width: 80%; /* Control width to not span full page */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    opacity:90%;
    width: 100%;
    background: linear-gradient(to left, #ccae78,#ac9770, #b99d6c, #b89e6e, #ccae78);
}

.logo {
    width: 70%; /* Makes the image stretch to cover the full width */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Covers the area without losing aspect ratio */
    margin: 20px;
}

.logo-container {
    width: calc(100% - 40px); /* Adjusts for the margin */
    margin: 0px;
    display: flex; /* This will center your image */
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    background-image: url('./bg_img.png'); /* Set your background image here */
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
}

/* Social media icons */
.social-icon {
    margin-right: 8px;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

p, a {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

.container.evil-mode {
    background: linear-gradient(to right, #1a1717, #251f1f, #1c1919, #1a1717, #1a1717);
    background-size: 300% 100%; /* More gradient to slide */
}

.container.evil-mode:hover {
    animation: slideGradient 4s linear infinite; /* Faster animation */
}

.container {
    background-size: 300% 100%; /* More gradient to slide */
}

.container:hover {
    animation: slideGradient 4s linear infinite; /* Faster animation */
}
@keyframes slideGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: -200% 50%; /* Ensures full range is utilized */
    }
}

.logo.evil-mode {
    filter: brightness(0.8); /* Adjust brightness to fit dark theme */
}

/* Evil mode styles for Contact Us section */
#contact.evil-mode, #contact.evil-mode a, #contact.evil-mode p, #contact.evil-mode h1 {
    color: white; /* Set text color to white */
}

/* Evil mode styles for SVG icons */
#contact.evil-mode .social-icon svg {
    fill: white; /* Set SVG icon fill to white */
}

#contact {
    padding: 50px;
    border-radius: 0%;
    min-width:100%;
    opacity:100%;
    background: linear-gradient(to bottom, #c2b795,#c0b39a, #c0b196, #c2b295, #ddc9a2);
}

#contact.evil-mode{
    background: linear-gradient(to bottom, #080808, #251f1f, #1c1919, #1a1717, #080808); /* Dark gradient adjusted for container */
}

#contact {
    padding: 50px;
    width: 100%; /* Ensures full width */
    background: linear-gradient(to bottom, #dacfbb, #c2b795, #b3a58b, #d1c4ab, #ddc9a2); /* Good mode gradient */
    color: #333; /* Good mode text color */
}

#contact.evil-mode {
    background: linear-gradient(to bottom, #080808, #251f1f, #1c1919, #1a1717, #080808); /* Dark gradient adjusted for evil mode */
    color: white; /* Evil mode text color */
}

#contact h1 {
    margin-bottom: 30px; /* Adds space below the heading */
}

#contact label {
    color: inherit; /* Ensures label colors match the text color of the container */
}

#contact .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    margin-bottom: 20px; /* Adds space below each input */
}

#contact form {
    flex: 1;
    width: 70%;
    max-width:700px;
}

#contact .form-group {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 30px; /* Adds space below each input */
    font-size: large;
    font-weight: 600;
}

#contact .form-group label{
    margin: 10px; /* Adds space below each input */
}

#contact .form-control:focus {
    background-color: rgba(255, 255, 255, 0.95);
    outline: none; /* Removes default focus outline */
    box-shadow: none; /* Removes Bootstrap default box-shadow */
}

#contact .btn {
    background-color: #a3906c;
    border: none;
    border-radius: 11px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#contact .btn:hover {
    background-color: #bba988;
}

#contact.evil-mode .btn {
    background-color: #776e6c;
    border: none;
    border-radius: 11px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#contact.evil-mode .btn:hover {
    background-color: #291c1c;;
}

.fixedFooter{
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 20px; 
    border-radius: 0; 
    color: white; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    min-width:100%;
    background: linear-gradient(to bottom, #b39f7b, #b39f7b, #bba988, #b39f7b, #948363);
}

/* Remove outlines and borders on hover, focus, or active states for social icons */
.social-icon:focus,
.social-icon:hover,
.social-icon:active {
    outline: none;
    border: none;
    text-decoration: none;
}

/* Additional style to remove any outline around the SVG elements specifically */
.social-icon svg:focus,
.social-icon svg:hover,
.social-icon svg:active {
    opacity: 0.7; /* Makes the icon more transparent on hover */
    outline: none;
    border: none;
    transform: scale(1.25) rotate(5deg); /* Makes the icon slightly larger and rotates it to the right */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity changes */
}

@media (max-width: 768px) {
    #contact form {
        width: 100%;
    }
    #roastDisplay {
        font-size: xx-large; 
    }
}